# gradle

.gradle/
build/
out/
classes/

# quilt loom

remappedSrc/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# fleet

.fleet/

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# eclipse jdt ls

workspace/

# macos

*.DS_Store

# fabric

run/*
# Remove the following line to remove server.properties from your project.
!server.properties

backup/
